@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background-color: deeppink;
    color: white;
}

header {
    background-color: deepskyblue;
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: dimgray;
}

menu li {
    background-color: dimgrey;
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}

