@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    text-align: center;
    padding: 30px;
    background-color: palegreen;
}

main#album {
    display: flex;
    flex-flow: row wrap;
}

section.coluna {
    flex: 1 1 100%;
    padding: 0 5px;
}

section > img {
    width: 100%;
    padding-bottom: 10px;
}

footer {
    background-color: palegoldenrod;
    color: white;
    padding: 15px;
    text-align: center;
}