/*

CSS Flexbox

*/

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: dodgerblue;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/*

Módulo de layout CSS Flexbox
Antes do módulo Flexbox Layout, havia quatro modos de layout:

Bloco, para seções em uma página da web
Em linha, para texto
Tabela, para dados de tabela bidimensionais
Posicionado, para a posição explícita de um elemento
O módulo de layout de caixa flexível torna mais fácil projetar uma estrutura de layout responsiva flexível sem usar flutuação ou posicionamento.

Elementos Flexbox
Para começar a usar o modelo Flexbox, você precisa primeiro definir um flex container.

1
2
3
O elemento acima representa um contêiner flexível (a área azul) com três itens flexíveis.

*/

.flex-container2 {
    display: flex;
    background-color: dodgerblue;
}

.flex-container2 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}