div{
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

main {
    max-width: 500px;
    min-width: 250px;
    max-height: 500px;
    min-width: 250px;
    background-color: forestgreen;
}