/*

Gradientes CSS

Planos de fundo gradientes

Os gradientes CSS permitem exibir transições suaves entre duas ou mais cores especificadas.

CSS define três tipos de gradientes:

Gradientes Lineares (desce/cima/esquerda/direita/diagonal)
Gradientes radiais (definidos pelo seu centro)
Gradientes cônicos (girados em torno de um ponto central)

Gradientes Lineares CSS
Para criar um gradiente linear, você deve definir pelo menos duas paradas de cor. As paradas de cor são as cores entre as quais você deseja renderizar transições suaves. Você também pode definir um ponto de partida e uma direção (ou um ângulo) junto com o efeito de gradiente.

Sintaxe
background-image: linear-gradient(direction, color-stop1, color-stop2, ...);
Direção - De cima para baixo (este é o padrão)

O exemplo a seguir mostra um gradiente linear que começa na parte superior. Ele começa vermelho, passando para amarelo:

de cima para baixo (padrão)
Exemplo

*/

#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
}