a.one:link {color:#ff0000}
a.one:visited {color:#0000ff}
a.one:hover {color: #ffcc00;}

a.two:link {color:#ff0000}
a.two:visited {color:#0000ff}
a.two:hover {font-size: 150%;}

a.three:link {color:#ff0000}
a.three:visited {color:#0000ff}
a.three:hover {background: #66ff66;}

a.four:link {color:#ff0000}
a.four:visited {color:#0000ff}
a.four:hover {font-family: monospace;}

a.five:link {color:#ff0000}
a.five:visited {color:#0000ff}
a.five:hover {text-decoration: underline;}