.box {
    background: linear-gradient(105deg, rgba(255,255,255,.2) 39%, rgba(51,56,57,1) 96%) center center / 400px 200px no-repeat, url(../ex012/imagem/thumb.png) center no-repeat, rebeccapurple;
    background-repeat: no-repeat;
    background-position: 20px 10%;
}