div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    background-color: deeppink;
}
.two{
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    background-color: darkorange;
}