@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(23, 115, 253);
}

h1#principal {
    text-align: center;
    background-color: rgb(23, 115, 253);
    color: wheat;
}

h2 {
    color: brown;
}

.basico {
    color:rgb(86, 150, 18)
}

.intermediario {
    color:rgb(39, 170, 196)
}

.avancado {
    color: rgb(202, 32, 32)
}

.destaque {
    background-color: rgba(207, 207, 69, 0.609);
}