input {
    -webkit-appearance: none;
    appearance: 
    none;
}

input[type="search"]{
    -webkit-appearance: none;
    appearance: none;
}

span {
    display: inline-block;
    background: red;
}

input[type="checkbox"]{
    width: 100px;
    height: 100px;
}