/*

Entrada de pesquisa animada
Neste exemplo, usamos a transitionpropriedade CSS para animar a largura da entrada de pesquisa quando ela fica em foco. Você aprenderá mais sobre a transitionpropriedade mais tarde, em nosso capítulo Transições CSS .

*/

input[type=search] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;

}

input[type=search]:focus {
    width: 100%;
}