/*

Imagens de borda CSS
Com a propriedade CSS border-image, você pode definir uma imagem para ser usada como borda ao redor de um elemento.

Propriedade de imagem de borda CSS
A propriedade CSS border-imagepermite especificar uma imagem a ser usada em vez da borda normal ao redor de um elemento.

A propriedade tem três partes:

A imagem a ser usada como borda
Onde cortar a imagem
Defina se as seções do meio devem ser repetidas ou esticadas
Usaremos a seguinte imagem (chamada "border.png"):

Fronteira

A border-imagepropriedade pega a imagem e a divide em nove seções, como um jogo da velha. Em seguida, ele coloca os cantos nos cantos e as seções do meio são repetidas ou esticadas conforme você especifica.

Nota: Para border-imagefuncionar, o elemento também precisa do borderconjunto de propriedades!

Aqui, as seções do meio da imagem são repetidas para criar a borda:

Uma imagem como fronteira!

Aqui está o código:

*/

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(https://www.w3schools.com/css/border.png) 30 round;
}

/*

Aqui, as seções do meio da imagem são esticadas para criar a borda:

Uma imagem como fronteira!

Aqui está o código:

*/

#borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(https://www.w3schools.com/css/border.png) 30 stretch;
}

/*

Dica: A border-imagepropriedade é, na verdade, uma propriedade abreviada para as propriedades border-image-source, border-image-slice, border-image-widthe .border-image-outsetborder-image-repeat

CSS border-image - Diferentes valores de fatia
Diferentes valores de fatia alteram completamente a aparência da borda:

Exemplo 1:

border-image: url(border.png) 50 rodadas;

Exemplo 2:

border-image: url(border.png) 20% redondo;

Exemplo 3:

border-image: url(border.png) 30% redondo;

Aqui está o código:

*/

#borderimg3 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 50 round;
}

#borderimg4 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 20% round;
}

#borderimg5 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30% round;
}

/*

Propriedades da imagem de borda CSS
Property	Description
border-image	A shorthand property for setting all the border-image-* properties
border-image-source	Specifies the path to the image to be used as a border
border-image-slice	Specifies how to slice the border image
border-image-width	Specifies the widths of the border image
border-image-outset	Specifies the amount by which the border image area extends beyond the border box
border-image-repeat	Specifies whether the border image should be repeated, rounded or stretched

*/