@charset "UTF-8";

* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /*height: 100%; */
}

body {
    background-image: linear-gradient(to right, #E80925,#F20A9A, #CD02DB, #A30AF2, #6009E8 );
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #56057e;
    width: 650px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #038C8C;
    text-align: center;
    text-shadow: 1px 1px 0px #012929;
}

h2 {
    color: #D92525;
}

p {
    text-align: justify;
}